.postlist {
    width: 40%;
    margin: auto;
    text-align: center;
    margin: 0 1rem;
    padding-top: 40px;
    background-color: #eee;
    
}

.postlist .title {
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
}


.openpage {
    text-decoration: none;
    color: black;
}

.post-card {
    text-align: left;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid lightblue;
    border-radius: 5px;
    box-shadow: 0 8px 8px -4px lightgrey;
    padding: 10px 20px;
    transition: 0.5s;
    text-decoration: none;
}

.post-card:hover {
    cursor: pointer;
    transform: scale(0.98);
}

.content i {
    font-weight: 100;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.content h2 {
    font-weight: 800;
    font-style: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.content p {
    font-weight: 100;
    font-style: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media screen and (max-width: 768px) {
    .postlist {
        width: 85%;
    }
}