.post-container {
    padding-top: 100px;
    display: flex;
    width: 40%;
    flex-direction: column;
    min-height: calc(100vh - 60px);
    margin: auto;
}

.post h2 {
    font-size: 30px;
}

.post p {
    padding-top: 10px;
    font-weight: 100;
    font-style: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.post img {
    justify-content: center;
}