.cards {
    padding: 4rem;
    background: white;
    box-shadow: 0 0 2px 5px lightgrey;
    z-index: 1;
  }
  
.title {
  padding-bottom: 50px;
  text-align: left;
  padding-left: 15px;
  position: relative;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: ;
}

.title:before {
  content: "";
  display:block;
  width: 70%;
  height: 3px;
  background: #242424;
  position: absolute;
  left: 0;
  top: 50%;
  padding-bottom: 2px;
}

.title:after {
  content: "";
  display:block;
  width: 70%;
  height: 3px;
  background: #242424;
  position: absolute;
  right: 0;
  top: 50%;
  padding-bottom: 2px;
}

.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}


.cards__items {
  list-style: none;
  margin-bottom: 24px;
  flex-wrap: wrap;
  display: block;
  justify-content: center;
}

.cards__item {
  display: flex;
  width: 250px;
  height: 300px;
  margin: 0 1rem;
  border-radius: 10px;
  padding-bottom: 30px;
  transition: 0.5s;
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(184, 126, 0, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(142, 96, 36, 0.017));
  filter: drop-shadow(0 6px 20px rgba(255, 185, 92, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: orange;
  box-sizing: border-box;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards__item:hover {
  transform: scale(1.1);
  transition-timing-function: ease-in-out;
}

.cards__item__info {
  padding: 10px 20px 20px;
}

.cards__item__text {
  color: #252e48;
  font-size: 16px;
  line-height: 20px;
}


@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 30px;
    width: 300px;
    height: 350px;
  }

  .cards__item__text {
    color: #252e48;
    font-size: 24px;
    line-height: 28px;
  }
}