.projects__section {
    padding-top: 80px;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    width: 100%;
    min-height: calc(100vh - 60px);
    background-color: #eee;
}

.projects__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}

.project__cards {
    margin-bottom: 24px;
  }
