.footer-container {
    display: flex;
    width: 100%;
    height: 60px;
    box-shadow: 0 -8px 8px -4px lightblue;
    background-color: #242424;
    justify-content: center;
    align-items: center;
    bottom: 0px;
}

.footer-container > a {
    padding: 0 1rem;
}

.footer-container > a:hover {
    padding: 0 1rem;
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
}


